!URxvt.font: xft:monospace:size=10
!URxvt.boldFont:
!URxvt.font:     xft:bitstream vera sans mono:size=11:antialias=true

URxvt.font: xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=14:antialias=true,hinting=true
URxvt.boldFont: 

URxvt.scrollBar: false
URxvt*cursorColor: #00FF00
URxvt*borderLess: true
URxvt*internalBorder: 3

URxvt.keysym.M-C-1: command:\033]710;suxuseuro\007\033]711;suxuseuro\007
URxvt.keysym.M-C-2: command:\033]710;9x15bold\007\033]711;9x15bold\007

! Fullscreen switch
URxvt.perl-ext-common: fullscreen
URxvt.keysym.F11: perl:fullscreen:switch
!URxvt.tabbed.tabbar-fg: 8
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg:    15
!URxvt.tabbed.tab-bg:    8
!URxvt.tabbed.new-button: false

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
