snippet cheader "inserts a header into the c and cpp snippet" b
// ------------------ Amme Sharanam ------------------------------
// Program Comment :
// Usage   : make and ./<filename>
// Author  : Ramkumar N
// Date    : 
// Remarks : 
// ---------------------------------------------------------------
endsnippet






snippet template_code_cpp  "inserts a template cpp code into the snippet" b

#include <iostream>
using namespace std;

int main()
{
	return 0;
}

endsnippet
