snippet cheader "inserts a header into the c and cpp snippet" b
// ------------------ Amme Sharanam ------------------------------
// Program Comment :
// Usage   : make and ./<filename>
// Author  : Ramkumar N
// Date    : 
// Remarks : 
// ---------------------------------------------------------------
endsnippet
