snippet makefile "this creates a simple makefile" b 

CC = g++

INCLUDE =

LIBS = 

# enter filename without extension
FILENAME =

all: $(FILENAME).cpp
	@$(CC) -g $(INCLUDE) $(FILENAME).cpp -o $(FILENAME) $(LIBS)

run:
	@./$(FILENAME)

clean:
	rm ./$(FILENAME) .ycm_extra_conf.py

endsnippet
