snippet make_latex "this creates a simple makefile for latex" b 
# enter a filename without the extension
FILENAME =

all:
	@pdflatex --interaction=batchmode $(FILENAME).tex

clean:
	rm $(FILENAME).log $(FILENAME).aux

endsnippet
