snippet pythonheader "creates a python header" b
# ------------------ Amme Sharanam ------------------------------
# Program Comment :
# Usage   : make and ./<filename>
# Author  : Ramkumar N
# Date    :
# Remarks : 
# ---------------------------------------------------------------
endsnippet
