[user]
	email = ramkalath@gmail.com
	name = ramkalath

[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[credential]
	helper = store
