[user]
	email = ramkalath@gmail.com
	name = ramkalath
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"




;[diff]
	;tool = meld
;[difftool "meld"]
	;path = /usr/bin/meld
;[difftool]
	;prompt = false
