snippet make_latex "this creates a simple makefile for latex" b 
# enter a filename without the extension
FILENAME = 

all:
	pdflatex $(FILENAME).tex

run:
	pdflatex $(FILENAME).tex
	biber $(FILENAME)
	pdflatex $(FILENAME).tex
	evince $(FILENAME).pdf &!

clean:
	rm $(FILENAME).log $(FILENAME).aux

endsnippet
