snippet make "this creates a simple makefile for c++" b 

CC = g++

INCLUDE =

LIBS = 

# enter filename without extension
FILENAME =

all: $(FILENAME).cpp
	@$(CC) -g $(INCLUDE) $(FILENAME).cpp -o $(FILENAME) $(LIBS)

run:
	@./$(FILENAME)	

clean:
	rm ./$(FILENAME) 

project_clean:
	rm *.cbp *.layout *.o *.depend

endsnippet
