snippet make_latex "this creates a simple makefile for latex" b 
# enter a filename without the extension
FILENAME = 

all:
	pdflatex $(FILENAME).tex

run:
	evince $(FILENAME).pdf &

bib:
	biber $(FILENAME)

clean:
	rm $(FILENAME).log $(FILENAME).aux

endsnippet
