snippet pyheader "this creates a header for py files" b 
# *****************************************************************************
# * Filename : <file_name>
# * Date : <date>
# * Author : Ram
# * Email : ramkalath@gmail.com
# * Breif Description :
# * Detailed Description :
# *****************************************************************************
endsnippet
