snippet pyheader "this creates a header for py files" b 
# *****************************************************************************
# * Author : Ram
# * Date : `date +%d/%m/%y`
# * Email : ramkalath@gmail.com
# * Breif Description :
# * Detailed Description :
# *****************************************************************************
endsnippet
