snippet pythonheader "creates a python header" b
# *****************************************************************************
# * Filename : 
# * Date : 
# * Author : Ram
# * Email : ramkalath@gmail.com
# * Breif Description :
# * Detailed Description :
# * Last Modified : <modified_date>
# *****************************************************************************
endsnippet
