Use_Label=false
Show_Values=true
Show_Bars=true
Colorize_Values=true
Color_In=rgb(138,226,52)
Color_Out=rgb(239,41,41)
Text=Net
Network_Device=wlp2s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=true

