[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ram/Desktop/Screenshot_2018-12-06_16-48-44.png]
row=6
col=0

[/home/ram/Desktop/Screenshot_2018-12-01_18-22-46.png]
row=5
col=0

[6C7AB6C67AB68BF8]
row=0
col=0

[D4F44D4AF44D2FD2]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ram]
row=4
col=0

