[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ram/Desktop/03bb57ea1f7e8dc9cc7da349b549d7a7c5bc3359.torrent]
row=7
col=0

[/home/ram/Desktop/Screenshot_2018-12-09_23-28-29.png]
row=5
col=0

[/home/ram/Desktop/Screenshot_2018-12-28_11-54-01.png]
row=6
col=0

[/home/ram/Desktop/Screenshot_2018-12-28_15-11-13.png]
row=8
col=0

[6C7AB6C67AB68BF8]
row=0
col=0

[D4F44D4AF44D2FD2]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ram]
row=4
col=0

