[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ram/Desktop/1575.pdf]
row=8
col=2

[/home/ram/Desktop/Trolls (2016) [YTS.AG]]
row=2
col=0

[/home/ram/Desktop/The.Autopsy.of.Jane.Doe.2016.BDRip.X264-AMIABLE.srt]
row=4
col=0

[6C7AB6C67AB68BF8]
row=0
col=1

[D4F44D4AF44D2FD2]
row=1
col=1

[Trash]
row=1
col=0

[/home/ram]
row=0
col=0

