[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ram/Desktop/TX_LoRa_sink_node.rar]
row=6
col=0

[/home/ram/Desktop/aruco_test]
row=8
col=0

[/home/ram/Desktop/aruco_test.zip]
row=7
col=0

[F468D0AD68D0703A]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ram]
row=3
col=0

