[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ram/Desktop/python_topics.pdf]
row=5
col=10

[/home/ram/Desktop/introduction_to_DIP.pdf]
row=5
col=11

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ram]
row=2
col=0

